<app-header [favoritePokemonName]="favoritePokemonName$ | async" (favoriteClicked)="openFavoriteDialog()"></app-header>

<div class="content-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <app-pokemon-list></app-pokemon-list>
            </div>
            <div class="col-md-4">
                <ng-container *ngIf="selectedPokemonName$ | async as selectedName; else showSummary">
                    <app-pokemon-detail [pokemonName]="selectedName"></app-pokemon-detail>
                </ng-container>
                <ng-template #showSummary>
                    <app-pokemon-summary></app-pokemon-summary>
                </ng-template>
            </div>
        </div>
    </div>
</div>